<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

    <title>Polymer: Introduction and Cases / GDG Oakdale</title>

    <meta name="description" content="Presentation slides for Polymer: Introduction and Cases for GDG Oakdale talk">
    <meta name="author" content="Justin Ribeiro">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.min.css">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/beige.css" id="theme">
    <link rel="stylesheet" href="css/highlight-theme/obsidian.css">

    <link rel="stylesheet" href="css/custom.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Intro to Polymer</h1>
          <h3>GDG Oakdale</h3>
          <p>
            <a href="https://www.justinribeiro.com">Justin Ribeiro</a>
            <br>
            <i class="fa fa-envelope-o"></i> <a href="mailto:justin@stickmanventures.com"> justin@stickmanventures.com </a>
          </p>
          <br />
          <p>
            <i class="fa fa-twitter"></i> <a class="iconned" rel="me" href="https://twitter.com/justinribeiro"> @justinribeiro</a>
            <i class="fa fa-google-plus"></i> <a class="iconned" rel="me" href="https://plus.google.com/+JustinRibeiro/posts"> +Justin Ribeiro</a>
            <i class="fa fa-github"></i> <a class="iconned" rel="me" href="https://github.com/justinribeiro"> justinribeiro</a>
          </p>
				</section>

				<section>
				  <h2>When you think about the web<br>what code do you see?</h2>
				</section>

        <section>
				  <h2><code>&lt;marquee&gt;</code>?</h2>
				  <marquee>Weeeeeeeeee! I still work! I'm hanging on baby.</marquee>
				</section>
				
				<section>
				  <h2>Probably not that tag</h2>
				  <p>But building for the web, we often think about tags.</p>
				</section>
				
				<section>
				  <h2>But things got complicated</h2>
				  <p>We wanted to build better marquees</p>
				  <pre><code class="html">
&lt;div id=&quot;clickme&quot;&gt;
  Click here
&lt;/div&gt;
&lt;img id=&quot;book&quot; src=&quot;book.png&quot; alt=&quot;&quot; width=&quot;100&quot; height=&quot;123&quot;
  style=&quot;position: relative; left: 10px;&quot;&gt;
&lt;script&gt;
$( &quot;#clickme&quot; ).click(function() {
  $( &quot;#book&quot; ).animate({
    opacity: 0.25,
    left: &quot;+=50&quot;,
    height: &quot;toggle&quot;
  }, 5000, function() {
    // Animation complete.
  });
});
&lt;/script&gt;
					</code></pre>
				</section>
				
				<section>
				  <h2>But we all know this isn't ideal</h2>
				  <ul>
				    <li>Conflicts (why does your CSS hurt me)</li>
				    <li>Hacky hack hacks (hey, let's just load all the things)</li>
				    <li>A rocky DOM landscape (ahh, div soup)</li>
				  </ul>
				</section>

        <section>
          <h2>HTML4 was a patchwork (we all did our best)</h2>
        </section>
        
        <section>
          <h2>HTML5 offers hope</h2>
          <ul>
            <li>Deeper set of APIs, larger arguments on standards</li>
            <li>Extensible Web Manifesto* hammer homes the changes</li>
            <li>The concept of web compontents starts to take shape...back in 2010</li>
          </ul>
          <p>* Yep, I'm plugging the manifesto</p>
        </section>
        
        <section>
          <h2>But why web components?</h2>
        </section>
        
        <section>
          <h2>Because they solve development problems that drive us crazy.</h2>
        </section>
        
        <section>
          <h2>Let's look at an example.</h2>
          <p>The often requested, always duplicated tab strip</p>
          <p>Sound be easy right?</p>
        </section>
        
        <section>
          <h2>Bootstrap 3</h2>
          <pre><code>
&lt;!-- Nav tabs --&gt;
&lt;ul class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
  &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#home&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#profile&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;Profile&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#messages&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;Messages&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#settings&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;Settings&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
          </code></pre>
        </section>
        
        <section>
          <h2>jQuery UI</h2>
          <pre><code>
&lt;div id=&quot;tabs&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#tabs-1&quot;&gt;Nunc tincidunt&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#tabs-2&quot;&gt;Proin dolor&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#tabs-3&quot;&gt;Aenean lacinia&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div id=&quot;tabs-1&quot;&gt;
    &lt;p&gt;Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div id=&quot;tabs-2&quot;&gt;
    &lt;p&gt;Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. &lt;/p&gt;
  &lt;/div&gt;
  &lt;div id=&quot;tabs-3&quot;&gt;
    &lt;p&gt;Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.&lt;/p&gt;
    &lt;p&gt;Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
        </section>
        
        <section>
          <h2>AngularJs</h2>
          <pre><code>
&lt;div ng-app=&quot;TabsApp&quot;&gt;
    &lt;div id=&quot;tabs&quot; ng-controller=&quot;TabsCtrl&quot;&gt;
        &lt;ul&gt;
            &lt;li ng-repeat=&quot;tab in tabs&quot;
                ng-class=&quot;{active:isActiveTab(tab.url)}&quot;
                ng-click=&quot;onClickTab(tab)&quot;&gt;{{tab.title}}&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div id=&quot;mainView&quot;&gt;
            &lt;div ng-include=&quot;currentTab&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;script type=&quot;text/ng-template&quot; id=&quot;one.tpl.html&quot;&gt;
		&lt;div id=&quot;viewOne&quot;&gt;
			&lt;h1&gt;View One&lt;/h1&gt;
			&lt;p&gt;Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/script&gt;
	
	&lt;script type=&quot;text/ng-template&quot; id=&quot;two.tpl.html&quot;&gt;
		&lt;div id=&quot;viewTwo&quot;&gt;
			&lt;h1&gt;View Two&lt;/h1&gt;
			&lt;p&gt;Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/script&gt;
	
	&lt;script type=&quot;text/ng-template&quot; id=&quot;three.tpl.html&quot;&gt;
		&lt;div id=&quot;viewThree&quot;&gt;
			&lt;h1&gt;View Three&lt;/h1&gt;
			&lt;p&gt;In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/script&gt;
&lt;/div&gt;
          </code></pre>
        </section>

        <section>
          <h2>That's a lot of similar, but different markup</h2>
          <h3>We didn't even look at the JavaScript</h3>
        </section>
        
        <section>
          <h2>Web Compontents approach</h2>
          <pre><code>
  &lt;paper-tabs selected=&quot;0&quot; noink nobar&gt;
    &lt;paper-tab&gt;ITEM ONE&lt;/paper-tab&gt;
    &lt;paper-tab&gt;ITEM TWO&lt;/paper-tab&gt;
    &lt;paper-tab&gt;ITEM THREE&lt;/paper-tab&gt;
  &lt;/paper-tabs&gt;
          </code></pre>
        </section>
        
        <section>
          <h2>How is this sorcery possible?</h2>
          <p>Four major API’s within browsers that allow us to build a web component</p>
          <ol>
            <li>Custom Elements</li>
            <li>Shadow DOM</li>
            <li>Templates</li>
            <li>HTML Imports</li>
          </ol>
        </section>
        
        <section>
          <h2>Custom Elements</h2>
          <ul>
            <li>They allow us to define new HTMLElements (think new tag)</li>
            <li>Simple, easy to read, declarative</li>
            <li>It actually means something: I know we’re talking about tabs</li>
          </ul>
        </section>

        <section>
          <h2>Templates</h2>
          <p>We’ve all used them: handlebars, mustache, fuzzy-navel. What if the browser did this for us?</p>
          <ul>
            <li>Uses the DOM to scaffold, which means no Cross Site Scripting</li>
            <li>Parsed but doesn’t render, inert until use</li>
            <li>Fragment: not part of the page</li>
          </ul>
        </section>

        <section>
          <h2>Shadow DOM</h2>
          <p>Scope me all the things.</p>
          <ul>
            <li>Sealed components: the page styles and code don’t affect them</li>
            <li>Right back at you: your components are scoped and won’t leak into the page</li>
          </ul>
        </section>

        <section>
          <h2>HTML Imports</h2>
          <p>Think of the dependency management hell you’re in.</p>
          <p>We can wrap up our dependencies into one component and simply import it.</p>
        </section>

        <section>
          <h2>What’s the browser support look like?</h2>
          <ul>
            <li>Chrome since 36 support all natively</li>
            <li>Firefox is has support in nightly</li>
            <li>Opera inheirits from Blink</li>
            <li>IE is looking into it</li>
            <li>Safari...who knows</li>
          </ul>
        </section>
        
        <section>
          <h2>Hummmmfff. Well, we’re going to need to polyfill</h2>
        </section>

        <section>
          <h2>Enter Polymer</h2>
        </section>
        
        <section>
          <h2>The pieces</h2>
          <ul>
            <li>platform.js fills in the gaps as the polyfill</li>
            <li>polymer.js adds some syntactic sugar</li>
          </ul>
        </section>
        
        <section>
          <h2>Syntactic sugar?</h2>
          <ul>
            <li>Declarative syntax</li>
            <li>Data Binding</li>
            <li>Mutation Observation</li>
          </ul>
        </section>
        
        <section>
          <h2>I’m really cutting back on my sugar intake Justin</h2>
          <ul>
            <li>That’s cool, you don’t have to use the Polymer sugar, you can just use the platform.js polyfill (also used by Mozilla's x-tags)</li>
            <li>Polymer is Google’s way of thinking: let’s make it easier to work</li>
          </ul>
        </section>
        
				<section>
				  <h2>Walking through boilerplate</h2>
				  <pre><code>
&lt;polymer-element name=&quot;my-element&quot;&gt;
    &lt;script&gt;
        Polymer('my-element', {
            // Fires when an instance of the element is created
            created: function() {},

            // Fires when the element&rsquo;s initial set of children and siblings are guaranteed to exist
            domReady: function() {},

            // Fires when the &quot;&lt;polymer-element&gt;&quot; has been fully prepared
            ready: function() {},

            // Fires when the element was inserted into the document
            attached: function() {},

            // Fires when the element was removed from the document
            detached: function() {},

            // Fires when an attribute was added, removed, or updated
            attributeChanged: function(attr, oldVal, newVal) {}
        });
    &lt;/script&gt;
&lt;/polymer-element&gt;
				  </code></pre>
				</section>
				
				<section>
				  <h2>Extending into Hello World</h2>
				  <pre><code>
&lt;polymer-element name=&quot;hello-world&quot; attributes=&quot;who&quot;&gt;
    &lt;template&gt;
        &lt;p&gt;Hello &lt;strong&gt;{{who}}&lt;/strong&gt; :)&lt;/p&gt;
    &lt;/template&gt;

    &lt;script&gt;
        Polymer('hello-world', {
            who: 'World'
        });
    &lt;/script&gt;
&lt;/polymer-element&gt;
				  </code></pre>
				</section>
				
				<section>
				  <h2>In Use</h2>
				  <pre><code>
				    &lt;hello-world who=&quot;Justin&quot;&gt;&lt;/hello-world&gt;
				  </code></pre>
				</section>

        <section>
          <h2>Explore time!</h2>
          <p><a href="demos.html">My Quick Demo Page</a></p>
        </section>
				
				<section>
				  <h2>Of course all that code is open source</h2>
				  <ul>
				    <li><a href="https://github.com/webcomponents/polymer-boilerplate/">webcomponents/polymer-boilerplate</a></li>
				    <li><a href="https://github.com/webcomponents/hello-world-polymer/">webcomponents/hello-world-polymer</a></li>
				    <li>You could also use Yeoman if you like:</li>
				  </ul>
<pre><code>
$ ~ npm install generator-element 
$ ~ yo element

</code></pre>
				</section>
				
				<section>
				  <h2>Why is all this awesome?</h2>
          <p>We already do this today, but you have to get your hands dirty. Web Components really change the way we think about certain interfaces and how to build them.</p>
          <ol>
            <li>Find</li>
            <li>Import</li>
            <li>Use</li>
          </ol>
				</section>
				
				<section>
				  <h2>Where would I get them?</h2>
				  <ul>
				    <li><a href="http://customelements.io/">CustomElements.io</a></li>
				    <li><a href="https://www.polymer-project.org/docs/elements/">Polymer's Catalog</a></li>
            <li>Github... et cetera</li>
				  </ul>
          <p>They're just a <code>bower install</code> away.</p>
				</section>
				
				<section>
			    <h2>Justin that’s going to fire up lots of HTTP requests!</h2>
          <p>Yep, we need to worry about our performance. We have tools for that.</p>
          <p>Vulcanize: <a href="https://github.com/Polymer/vulcanize">Polymer/vulcanize</a></p>
          <p>Of course it works with Grunt/Gulp, what is this 1998?</p>
				</section>
				
				<section>
				  <h2>But polyfills in the production web...seems risky.</h2>
          <p>platform.js has pitfalls (it can be heavy)</p>
          <p>Browsers that are not Chrome can offer varied results</p>
				</section>
				
				<section>
				  <h2>But there are cases now in Production...</h2>
				</section>
				
				<section>
				  <h2>Sites in action!</h2>
				  <ul>
				    <li><a href="https://www.polymer-project.org">Polymer</a></li>
            <li><a href="https://www.github.com">Github</li>
            <li>Chrome OS - the Google Music player</li>
            <li><a href="https://www.oakdaleopenmesh.org/">Oakdale OpenMesh</a></li>
				  </ul>
				</section>
				
				<section>
				  <h2>That's quite the crash course</h2>
				  <h3>There is sooo much more</h3>
				</section>
				
				<section>
				  <h2>What now?</h2>
				  <h3>Polymer codelab in Novmeber here at GDG Oakdale</h3>
				  <p>Bring a laptop, get dirty, stay for the code</p>
				</section>
				
				<section>
          <h1>The End</h1>
          <h3>Thank you!</h3>
          <p>
            <i class="fa fa-twitter"></i> <a class="iconned" rel="me" href="https://twitter.com/justinribeiro"> @justinribeiro</a>
            <i class="fa fa-google-plus"></i> <a class="iconned" rel="me" href="https://plus.google.com/+JustinRibeiro/posts"> +Justin Ribeiro</a>
            <i class="fa fa-github"></i> <a class="iconned" rel="me" href="https://github.com/justinribeiro"> justinribeiro </a>
          </p>
        </section>
				
			</div>
		</div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.pack.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
